In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('salaries_by_college_major.csv')
clear_df = df.dropna()

In [11]:
max_salary = clear_df['Mid-Career Median Salary'].idxmax()
clear_df.loc[max_salary]['Undergraduate Major']

'Chemical Engineering'

In [12]:
min_salary = clear_df['Starting Median Salary'].idxmin()
clear_df.loc[min_salary]['Undergraduate Major']

'Spanish'

In [13]:
min_salary = clear_df['Mid-Career Median Salary'].idxmin()
clear_df.loc[min_salary]["Mid-Career 90th Percentile Salary"]

np.float64(102000.0)

In [14]:
spread_col = clear_df['Mid-Career 90th Percentile Salary'] - clear_df['Mid-Career 10th Percentile Salary']
clear_df.insert(1, 'Spread', spread_col)
clear_df.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [15]:
low_risk = clear_df.sort_values('Spread', ascending=False)
low_risk[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0